html{
    min-height: 100%;
    margin: 0;
    background: url("../Images/light_grey_floral_motif.png");
}
body{
    background: url("../Images/light_grey_floral_motif.png");
}
.top-container{
    border-bottom: 2px solid #cccccc;
    margin-bottom: 4%;
    background-color: #ffffff;
}
.background-container{
    height: 90%;
}
.container{
    background-color: #ffffff;
    padding: 25px;
}
h1{
    background: #4aaaa5;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    font-size: 170%;
    margin: 0;
    line-height: 1.5;
}
h2{
    color: #4aaaa5;
    text-align: center;
}
.about-row{
    border-bottom: 2px solid #cccccc;
    margin-bottom: 3px;
}
.about-col{
    background-color: #ffffff;
}
.content-col{
    background-color: #ffffff;
}
img{
    margin-right: 15px;
}
.thumbnail1{
    position: relative;
}
.thumbnail2{
    position: relative;
}
.card-text{
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.card{
    max-height: 200px;
    max-width: 200px;
    position: relative;
}
.border-top{
    border-top: 7px solid !important;
    border-top-color: #4aaaa5 !important;
}
::-webkit-scrollbar { 
    display: none; 
}
.btn-secondary {
    background-color: #007bff;
}